.card1 {

  :before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    right: -10px;
    background: grey;
    height: 68px;
    width: 32px;
    transform: scale(1);
    transform-origin: 50% 20%;
    transition: transform 1s ease-out;
  }
}


.card2 {
  
  :before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    right: -10px;
    background: yellow;
    height: 68px;
    width: 32px;
    transform: scale(1);
    transform-origin: 50% 20%;
    transition: transform 1s ease-out;
  }
}
   
  .card3 {
    
    :before {
      content: "";
      position: absolute;
      top: 0;
      z-index: -1;
      right: -10px;
      background: #ef233c;
      height: 68px;
      width: 32px;
      transform: scale(1);
      transform-origin: 50% 20%;
      transition: transform 1s ease-out;
    }
  }
  
