<!--ngClass]="{'card1': projecttask.priority==0,
     'card2' : projecttask.priority==1,
     'card3': projecttask.priority==2}"-->
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{projecttask.name }}</h5>
        <p class="card-text">{{projecttask.description}}</p>
        <p class="card-text"><small class="text-muted"> Last updated on {{ projecttask.date | date:'medium' }}</small> </p>
        <app-projecttask-menu [projecttask]="projecttask"></app-projecttask-menu>
    </div>    
</div>


