.a-router{
    

   padding: 5px;

   
   display: flex;
   justify-content:space-between;
   align-items: center;
   
   .back-btn{
       width: 40px;
       height: 40px;
       border-radius: 100px;
       
       font-size: 28px;
       
       text-align: center;

       border: 0 solid black;

       background-color:#fca311;
       color: #212d40;

       transition: 0.3s;
       &:hover{
           color: aliceblue;
           background-color:#14213d;
          
       }
   }

}
.container{
    background:#ffffff;
    width: auto;
    height: auto;

    min-width: 350px;
    max-width: 500px;
    min-height: 250px;

    padding-bottom: 15px;

    border-radius: 10px;
    transition: 1s ease-in;
    
    
    &:hover{
       .hr_red{
            border: 10px solid #bc4749;

            border-radius: 10px 10px 0 0;
        }
    }
    .hr_red{
        border: 10px solid #ef233c;

        border-radius: 10px 10px 0 0;
    }
    .hr_blue{
        border: 10px solid #00b4d8;
        
        border-radius: 10px 10px 0 0;
    }
    .hr_yellow{
        border: 10px solid #f9c74f;
        
        border-radius: 10px 10px 0 0;
    }
  
}