<h1 id="tableLabel">Error Data</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>User ID</th>
      <th>Error ID</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.userID }}</td>
      <td>{{ forecast.errorID }}</td>
      <td>{{ forecast.message }}</td>
    </tr>
  </tbody>
</table>

