.contextmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 2;

    position: absolute;
    border: 0;
    button{
        
        width: 70px;
        height: 30px;
    }

    .btn-delete{
        background: #e63946;

        
  
        border-radius: 10px;
        border: 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  
        
  
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 500;
        
        transition: 0.2s ease-in;
        &:hover:enabled{
          background: #f94144;
        }
    }
    .btn-edit{
        background: #20DF7F;

        
  
        border-radius: 10px;
        border: 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  
        
  
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 500;
        
        transition: 0.2s ease-in;
        &:hover:enabled{
          background: #2ec4b6;
        }
    }
}