<div class="md-add">
    <div class="md-container">
        <div class="md-bg"></div>
        <div class="md-content">
            <h2 mat-dialog-title>Update Project</h2>
            <form class="md-form" [formGroup]="updateForm" (submit)="OnSubmit()">
                <div class="form-row">
                    <mat-form-field appearance="fill">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="title" required>
                        <mat-error *ngIf="title?.errors?.['required']">* Title is required</mat-error>
                        <mat-error *ngIf="title?.errors?.['pattern']">* Title is not valid</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" required>
                        <mat-error *ngIf="description?.errors?.['required']">* Description is required</mat-error>
                        <mat-error *ngIf="description?.errors?.['pattern']">* Description is not valid</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="fill">
                        <mat-label>Due Date</mat-label>

                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="date?.errors?.['required']">* Date is required</mat-error>
                        <mat-error *ngIf="date?.errors?.['pattern']">* Date is not valid</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row">
                    <div class="md-buttons">
                        <button *ngIf="isDialog" mat-stroked-button type="button" (click)="OnClick()">Cancel</button>
                        <button mat-flat-button color="primary" type="submit" [disabled]="!updateForm.valid">Apply</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
