
<div class="md-add">
    <div class="md-container">
        
        <div class="md-bg"></div>
        <div class="md-content">
            <h2>New Project</h2>
            <form class="md-form" [formGroup]="createForm" (submit)="onSubmit()">
                <input formControlName="title"
                placeholder="Project name"
                type="text"
                class="input"
                id="title"
                name="title"
                maxlength="30">
                
                <div class="md-buttons">
                  <button type="reset" class="close-btn" (click)="onClick()">Cancel</button>
                  <button type="submit" class="submit-btn">Create</button>
                </div>
                <div class="errors">
                    <ng-container *ngIf="title?.touched">
                        <span *ngIf="title?.errors?.['required']">* Project name is required</span>
                        <span *ngIf="title?.errors?.['pattern']">* Project name is not valid</span>
                    </ng-container>
                </div>
            </form>
        </div>
    
    </div>
</div>
