name: Puma Prey

on:
  workflow_dispatch:

permissions:
  actions: read # read gh actions
  contents: read # read access to the repo
  security-events: write # write access to advanced security

env:
  PROJECT: "./src/Coyote/Coyote.csproj"
  TEST_SUITE: "Coyote.Tests.csproj"
  CONFIGURATION: "Release"

jobs:
  build:
    name: Puma Prey
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Initialization
        shell: bash
        run: |
          # Check .net version
          dotnet --version
      - name: Build
        shell: bash
        run: |
          dotnet restore ${{ env.PROJECT }}
          dotnet build ${{ env.PROJECT }}
      - name: Test
        shell: bash
        run: |
          cd ./test/Coyote.Tests
          dotnet restore ${{ env.TEST_SUITE }}
          dotnet build ${{ env.TEST_SUITE }}
          dotnet test ${{ env.TEST_SUITE }} --logger "trx;LogFileName=coyote.trx"
      - name: Publish Test Results
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: "Coyote"
          path: "test/Coyote.Tests/TestResults/*.trx"
          reporter: "dotnet-trx"
