<!--<div class="md-add">
    <div class="md-container">
        
        <div class="md-bg"></div>
        <div class="md-content">
            <h2>New Task</h2>
            <form class="md-form" [formGroup]="createForm" (submit)="OnSubmit()">
                
                

                    <div class="form-inner-content">
                        <input formControlName="name"
                        placeholder="Task Name"
                        type="text"
                        class="input"
                        id="name"
                        name="name"
                        maxlength="30">
                    </div>
                    
                    <div class="form-inner-content">
                        <label>Description</label>
                        <textarea class="description" formControlName="description" id="description"
                        name="description"
                        maxlength="500">
                        </textarea>
                    </div>
                    <div class="form-inner-content">
                        <label>Date:</label>
                        <input type="date" 
                        id="date"
                        name="date"
                        formControlName="date">
                    </div>
                    <div class="form-inner-content">
                        <label>Priority</label>
                        <select formControlName="priority" id="priority" name="priority" [value]="0">
                            <option value="0">Low</option>
                            <option value="1">Medium</option>
                            <option value="2">High</option>
                        </select>
                    </div>

                <div class="md-buttons">
                    <button type="reset"  class="btn btn-secondary" (click)="OnClick()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
                <div class="errors">
                    <ng-container *ngIf="name?.touched">
                        <span *ngIf="name?.errors?.['required']">* Project name is required</span>
                        <span *ngIf="name?.errors?.['pattern']">* Project name is not valid</span>
                    </ng-container>
                </div>
                
            </form>
        </div>
    
    </div>
</div>-->


<div class="md-add">
    <div class="md-container">
        <div class="md-bg"></div>
        <div class="md-content">
            <h2 mat-dialog-title>New Task</h2>
            <form class="md-form" [formGroup]="createForm" (submit)="OnSubmit()">
                <div class="form-row">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" required>
                        <mat-error *ngIf="name?.errors?.['required']">* Name is required</mat-error>
                        <mat-error *ngIf="name?.errors?.['pattern']">* Name is not valid</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" required>
                        <mat-error *ngIf="description?.errors?.['required']">* Description is required</mat-error>
                        <mat-error *ngIf="description?.errors?.['pattern']">* Description is not valid</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="fill">
                        <mat-label>Due Date</mat-label>

                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="date?.errors?.['required']">* Date is required</mat-error>
                        <mat-error *ngIf="date?.errors?.['pattern']">* Date is not valid</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field appearance="fill">
                        <mat-label>Priority</mat-label>
                        <mat-select placeholder="Select task priority" formControlName="priority">
                            <mat-option>None</mat-option>
                            <mat-option value="0">Low</mat-option>
                            <mat-option value="1">Medium</mat-option>
                            <mat-option value="2">High</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <div class="md-buttons">
                        <button *ngIf="isDialog" mat-stroked-button type="button" (click)="OnClick()">Cancel</button>
                        <button mat-flat-button color="primary" type="submit" [disabled]="!createForm.valid">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>